div{
  height: 50px;
  background-color: #292d38;
  box-shadow: 1px 1px red;
  display: flex;
}

div{
  a{
    color: red;
  }
  span{
    font-size: 40px;
  }
}

@colorRed: red;

h1{
  color: @colorRed;
  font-size: 50px;
}
