div {
  height: 60px;
  background-color: #292d38;
  box-shadow: 2px 1px red;
  display: flex;
}
div button {
  color: red;
  font-size: 20px;
}
div a {
  color: red;
}
div span {
  font-size: 50px;
}
h1 {
  color: red;
  font-size: 50px;
}
